@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Josefin+Slab:wght@100&display=swap');

@media  (min-width: 750px) and (max-width: 1030px){
    body{
        margin:0;
        background-color: #9abeec;
        padding-top: 5.88%;
        cursor: url('kuromicursor.png'), auto;
    }
    #efeito{
        font-size: 32px; box-sizing: border-box;
    }
    .what{
        display: flex;
        padding-left: 3.51%;
    }
    .discord{
        display: inline;
        width: 27.6px;
        height: 20px;
    }
    #discordimg{
        width: 27.6px;
        height: 20px;
    }
    .sobre{
        border-right: 2px solid rgb(201, 190, 190);
    }
    #navcontainer{
        width: 20%; height: inherit;
    }
    #kuromi{
        width: 130%; height: 130%;
    }
    #kuromicontainer{
        height: 30%; display: flex; flex-flow: row wrap; align-items: center; justify-content:center;
    }
    #transflag{
        height: 30%; display:flex; align-items: flex-end; justify-content:center;
    }
    h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
    
    nav{
        width: 21%;
        height: 65%;
        box-sizing: border-box;
        background-color: #f5a9b8;
        border: 1px dashed black;
        position: fixed;
        float: left;
        padding-bottom: 18px;
    }
    
    li:hover, li.navli:hover, a:hover{
        background-color: #dbcad6;
        cursor: url('kuromicursor2.png'), auto;
    }
    
    ul.navul{
        margin: 0;
        background-color: #f5a9b8;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-top: 10px;
    }
    
    li.navli{
        background-color: #DCD6DA;
        color: black;
        font-family: 'Dosis', sans-serif;
        font-size: 93.75%;
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 2px;
        height: 30%;
        box-sizing: border-box;
        width: 40%;
    }
    
    main{
        display: flex;
        justify-content: center;
        background-color: #9abeec;
        flex-flow: row wrap;
        width: 80%;
        padding-left: 30px;
    }
    
    article{
        background-color: #9abeec;
        border-radius: 0px;
        display: flex;
        justify-content: center;
    
    }
    
    .artcontainer{
        width: 80%;
        background-color:#dadada;
        border: 1px dashed black;
        padding: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    em{
        font-size: 20px;
    }
    
    td{
        border: 1px solid black;
        width: 50%;
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    }
    
    table{
        width: 100%;
        table-layout: fixed;
    }
    
    th{
        background-color: #f5a9b8;
        color: white;
        border: 1px solid black;
        width: 50%;
        height: 80px;
        font-weight: bold;
        font-size: 22px;
        text-align: start;
        padding-left: 5px;
    }
    
    caption{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .tablecontent{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    }
    
    span{
        font-style: italic;
        font-size: 14px;
    }
    
    .dates{
        font-size: 30px !important;
    }
    
    th.col2, td.col2{
        width: 25%;
        box-sizing: border-box;
        font-size: 22px;
    }
    
    h4{
        font-size: 20px;
    }
    
    
    p{
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .headimage{
        width: 100%;
        height: inherit;
        margin-bottom: 0;
    }
    
    .navimage{
        width: 30%;
        height: 50px;
        align-self: flex end;
    }
    
    h3{
        font-family: 'Josefin Slab', serif;
        color: white;
        font-size: 30px;
        margin-top: 15px;
    
    }

    
    .resource{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    list-style: url('pinkheart2.png') outside;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    footer{
        width: 100%;
        height: 80px;
        background-color: #f5a9b8;
        color: white;
        font-family: 'Josefin Slab', serif;
        font-weight: bold;
        font-size: 30px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }
    
    .footertext{
        display: flex;
        height: 80px;
        align-items: center;
    }
    .contatoul{
        list-style: none;
        margin: 0;
        padding-left: 8%;
        padding-right: 8%;
        display: flex;
        justify-content: center;
        gap: 6%;
        margin-top: 6%;
    }
    .contatoli{
        display: flex;
        flex-flow: column nowrap;
        padding: 5px;
        border: 1px solid gray;
        align-items: center;
        width: 60%;
        background-color: #e6e3bd;
    }
    .contatoli:hover{
        background-color: #dbcad6;
    }
    .contatohover{
        display: flex; justify-content: center;
    }
    li.contatohover:hover{
        background-color: #dadada;
    }
    .catarina{
        width: 100%;
        height: 100%;
    }
    .catspan{
        font-size: 22px;
        color: gray;
        font-style: italic;
        margin: 5px 0 0 0;
    }
}



@media (min-width: 1031px){

body{
    margin:0;
    background-color: #9abeec;
    padding-top: 5.88%;
    cursor: url('kuromicursor.png'), auto;
}
#efeito{
    font-size: 32px; box-sizing: border-box;
}
.sobre{
    border-right: 2px solid rgb(201, 190, 190);
}
#kuromi{
    width: 130%; height: 130%;
}
#kuromicontainer{
    height: 30%; display: flex; flex-flow: row wrap; align-items: center; justify-content:center;
}
#transflag{
    height: 30%; display:flex; align-items: flex-end; justify-content:center;
}
#navcontainer{ width: 20%; height: inherit;}
.what{
    display: flex;
    padding-left: 3.51%;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

nav{
    width: 21%;
    height: 60.608%;
    box-sizing: border-box;
    background-color: #f5a9b8;
    border: 1px dashed black;
    position: fixed;
    float: left;
}

li:hover, li.navli:hover, a:hover{
    background-color: #dbcad6;
    cursor: url('kuromicursor2.png'), auto;
}

ul.navul{
    margin: 0;
    background-color: #f5a9b8;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 10px;
}

li.navli{
    background-color: #DCD6DA;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 93.75%;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2px;
    height: 30%;
    box-sizing: border-box;
    width: 40%;
}

main{
    display: flex;
    justify-content: center;
    background-color: #9abeec;
    flex-flow: row wrap;
    width: 80%;
    padding-left: 30px;
}

article{
    background-color: #9abeec;
    border-radius: 0px;
    display: flex;
    justify-content: center;

}

.artcontainer{
    width: 80%;
    background-color:#dadada;
    border: 1px dashed black;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

em{
    font-size: 20px;
}

td{
    border: 1px solid black;
    width: 50%;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}

table{
    width: 100%;
}

th{
    background-color: #f5a9b8;
    color: white;
    border: 1px solid black;
    width: 50%;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    padding-left: 10px;
}

caption{
    font-size: 30px;
    margin-bottom: 10px;
}

.tablecontent{
display:flex;
justify-content: space-between;
align-items: center;
}

span{
    font-style: italic;
    font-size: 14px;
}

.dates{
    font-size: 30px !important;
}

th.col2, td.col2{
    width: 25%;
    box-sizing: border-box;
    font-size: 32px;
}

h4{
    font-size: 20px;
}


p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headimage{
    width: 100%;
    height: inherit;
    margin-bottom: 0;
}

.navimage{
    width: 30%;
    height: 50px;
    align-self: flex end;
}

h3{
    font-family: 'Josefin Slab', serif;
    color: white;
    font-size: 30px;

}

.resource{
color: black;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
list-style: url('pinkheart2.png') outside;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #f5a9b8;
    color: white;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.footertext{
    display: flex;
    height: 80px;
    align-items: center;
}
.contatoul{
    list-style: none;
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 6%;
}
.discord{
    display: inline;
    width: 27.6px;
    height: 20px;
}
#discordimg{
    width: 27.6px;
    height: 20px;
}
.contatoli{
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    border: 1px solid gray;
    align-items: center;
    width: 60%;
    background-color: #e6e3bd;
}
.contatoli:hover{
    background-color: #dbcad6;
}
.contatohover{
    display: flex; justify-content: center;
}
li.contatohover:hover{
    background-color: #dadada;
}
.catarina{
    width: 100%;
    height: 100%;
}
.catspan{
    font-size: 22px;
    color: gray;
    font-style: italic;
    margin: 5px 0 0 0;
}
}
/* Um pra 750 a 820 e dai um de 820 a 1030 */

@media  (max-width: 749px){
    /* This is design change */
    body{
        margin:0;
        background-color: #9abeec;
        cursor: url('kuromicursor.png'), auto;
    }
    #navcontainer{ width: 100%; 
        height: 15%;
            margin-bottom: 30px;    }

    #kuromi{
        width: 130%; height: 130%;
    }
    #kuromicontainer{
        height: 30%; display: flex; flex-flow: row wrap; align-items: center; justify-content:center;
    }
    #transflag{
        height: 30%; display:flex; align-items: flex-end; justify-content:center;
    }

    .what{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 21px;
        font-weight: bold;
    }
    
    nav{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: #f5a9b8;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 10px;
    }
    .discord{
        display: inline;
        width: 27.6px;
        height: 20px;
    }
    #discordimg{
        width: 27.6px;
        height: 20px;
    }
    li:hover, li.navli:hover, a:hover{
        background-color: #dbcad6;
        cursor: url('kuromicursor2.png'), auto;
    }
    
    ul.navul{
        margin: 0;
        background-color: #f5a9b8;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

    }
    
    li.navli{
        background-color: #f5a9b8;
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 93.75%;
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 2px;
        height: 30%;
        box-sizing: border-box;
        width: 40%;
    }
    main{
        display: flex;
        justify-content: center;
        background-color: #9abeec;
        flex-flow: row wrap;
        width: 80%;
    }
    
    article{
        background-color: #9abeec;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    .artcontainer{
        width: 100%;
        background-color:#dadada;
        border: 1px dashed black;
        padding: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    em{
        font-size: 20px;
    }
    
    td{
        border: 1px solid black;
        width: 50%;
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    }

    td h4{
        font-size: 100%;
    }

    #efeito{font-size: 100%; box-sizing: border-box;}
    
    table{
        table-layout: fixed;
width: 100%;
    }
    
    th{
        background-color: #f5a9b8;
        color: white;
        border: 1px solid black;
        width: 50%;
        height: 80px;
        font-weight: bold;
        font-size: 30px;
        text-align: start;
        padding-left: 5px;
    }
    
    caption{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .tablecontent{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    }
    
    span{
        font-style: italic;
        font-size: 14px;
    }
    
    .dates{
        font-size: 30px !important;
    }
    
    th.col2, td.col2{
        width: 25%;
        box-sizing: border-box;
        font-size: 100%;
    }
    
    h4{
        font-size: 20px;
    }
    

    
    p{
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .headimage{
        width: 100%;
        height: inherit;
        margin-bottom: 0;
    }
    
    .navimage{
        width: 30%;
        height: 50px;
        align-self: flex end;
    }
    
    h3{
        font-family: 'Josefin Slab', serif;
        color: white;
        font-size: 30px;
    
    }
    
    .resource{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    list-style: url('pinkheart2.png') outside;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    footer{
        width: 100%;
        height: 80px;
        background-color: #f5a9b8;
        color: white;
        font-family: 'Josefin Slab', serif;
        font-weight: bold;
        font-size: 30px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }
    
    .footertext{
        display: flex;
        height: 80px;
        align-items: center;
    }
    .contatoul{
        list-style: none;
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 6%;
    }
    .contatoli{
        display: flex;
        flex-flow: column nowrap;
        padding: 5px;
        border: 1px solid gray;
        align-items: center;
        width: 60%;
        background-color: #e6e3bd;
    }
    .contatoli:hover{
        background-color: #dbcad6;
    }
    .contatohover{
        display: flex; justify-content: center;
    }
    li.contatohover:hover{
        background-color: #dadada;
    }
    .catarina{
        width: 100%;
        height: 100%;
    }
    .catspan{
        font-size: 22px;
    color: gray;
    font-style: italic;
    margin: 5px 0 0 0;
    }
}